<h2 class="page-header">Edit Author</h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="post">
  <%- include('_form_field.ejs') %>
  <button class="btn" type="submit">Update</button>
  <a href="/authors/<%= author.id %>">Cancel</a>
</form>
